/* ---------------------- fonts ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');

/* ---------------------- gobal ----------------------- */
* {
    box-sizing: border-box;
}

body {
    color: #222222;
    background: linear-gradient(150deg, #EEDECF, #6E5B5E);  
}

body, h1, h2, p, ul, li, a {
    margin: 0;
}

body h1, h2 {
    font-family: 'roboto', sans-serif;
    color: #525558;
}

body p, span {
    font-family: 'roboto mono', monospace;    
}

a {
    text-decoration: none;
    color: #222222;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

textarea {
    font-family: 'roboto mono', monospace;
    resize: none;
}

/* ---------------------- header ----------------------- */
.header-container {
    border-bottom: 2px solid #AB7C73;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.header-container h1 {
    font-weight: bold;
    color: #525558;
}

.header-container h2 {
    font-weight: 300;
    color: #7c7c7c;
}

/* .header-nav ul {
    display: flex;
    flex-wrap: wrap;
} */

/* .header-titulo {
    text-align: center;
    background: tan; 
    flex-grow: 1 2 160px; 
} */

.header-nav {
    display: flex;
    flex-wrap: wrap;
    /* background: #AB7C73; */
}

.header-nav a{
    display: block;
    padding: 5px;
}

/* ---------------------- main ----------------------- */
.main-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 128px; 
    align-items: center;
    justify-content: center;
}

/* ---------------------- input do usuário ---------------------- */
.txt-cripto, .txt-decripto {
    font-size: 1em;
    outline: none;
    padding: 10px;
    color: #525558;  
}

.txt-cripto {
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 8px;
    background: transparent;
}

/* .txt-cripto::placeholder{
    color: teal;
    font-style: italic;
} */

.btn-container {
    display: block;
    text-align: center;
}

.btn-container p {
    font-size: .75em;
    margin-bottom: 10px;
}

/*---------------------- área do resultado ----------------------*/

.txt-decripto {
    width: 300px;
    height: 350px;
    border: 1px dashed #6E5B5E;
    background: transparent;
    border-radius: 8px;
}

.btn-copy-container {
    /* display: block; */
    text-align: center;
}

.btn-style  {
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    border: 0;
    margin: 0 4px 0 4px;
    padding: .2em 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .5s all;
    cursor: pointer;
}

.btn-cripto {
    background: #D6B5AB;
}

.btn-decripto {
    background: #AB7C73;
}

.btn-copy {
    background: #D6B5AB;
}

.btn-style:hover {
    background: #EEDECF; /*cor teste*/
    /* transform: scale(1.2); */
}

/* ---------------------- footer ----------------------- */
.footer {
    border-top: 2px solid #AB7C73;
    /* border-bottom: 2px solid #AB7C73; */
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-flow: column wrap;
    row-gap: 8px;
    align-items: center;
}


/* ---------------------- responsividade ----------------------- */

@media only screen and (max-width: 539px) {

    .header-container h2 {
        margin-top: 8px;
    }

    .header-nav {
        margin-top: 10px;
    }

    .header-nav a {
        margin-right: 16px;
    }

    .main-container {
        gap: 32px;
    }

    .descripto-label {
        display: block;
        margin: 0 0 16px 0;
        text-align: center;
    }

    .display-label {
        display: none;
        /* visibility: hidden; */
    }

    .display-none {
        display: none;
    }
  }

  @media only screen and (min-width: 540px) {

    .descripto-label {
        display: block;
        margin: 0 0 16px 0;
        text-align: center;
    }

    .display-label {
        display: none;
        /* visibility: hidden; */
    }

  }